* {
  margin: 0;
  padding: 0;
  font-family: poppins;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.nav{
  /* border: 2px solid black; */
  overflow: auto;
  background-color: #4169e1;
   
}
.nav li{
  float: right;
  list-style: none;
  padding: 20px 40px;
  color: white;
  border-right: 5px solid rgb(255, 255, 255);
  border-radius: 7px;
  cursor: pointer;
  
}
.nav ul a{
  color: white;
  text-decoration: none;
}

.hbt{
  float: left !important;
  border: none !;
}
.nav li:hover{
  background-color:#3c5fca;
}
.span{
  color: #3366ff;
}
.main{
  /* border: 2px solid black; */
  display: block;
  background: url('/img/Background\ Image\ 1\ blur.png') no-repeat center center/cover;
  overflow: auto;
  height: 90vh;
}
.main h1{
  color: white;
  text-align: center;
  padding-top: 230px;
  font-size: 60px;
}
.main p{
  color: white;
  width: 600px;
  text-align: center;
  margin: auto;

}
.main a{
  /* border: 2px solid black; */
  background-color: #3366ff;
  border-radius: 5px;
  padding: 10px 50px;
  text-align: center;
  position: absolute;
  top: 510px;
  left: 650px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.main a:hover{
  background-color: #3c5fca;
  cursor: pointer;
}

.main2{
  /* border: 2px solid black; */
  height: 400px;
  display: block;
}
.container-img{
  display: inline-block;
  background: url('/img/Background\ Image\ 2.jpg') no-repeat center center/cover;
  overflow: auto;
  height: 400px;
  width: 50%;
}
.container{
  /* border: 2px solid black; */
  background-color: #4168dc;
  height: 400px;
  width: 50%;
  float: right;
  text-align: center;
}
.p1{
  color: white;
  margin: 30px 0px;
  font-size: 24px;
  font-weight: bold;
}
.p2{
  color: white;
  text-align: center;
  text-align: justify;
  padding: 0px 30px;
}
.main3{
  /* border: 2px solid black; */
  background: url('');
  overflow: auto;
  height: 350px;
  background-color: rgb(236, 236, 236);
}
.main3 ul li{
  /* border-right: 2px solid black; */
  float: left;
  color: rgb(39, 39, 39);
  padding: 0px 30px;
  padding-top: 200px;
  list-style: none;
  height: 348px;
  width: 33.3%;
}
.main3 ul h3{
  text-align: center;
}

#id1 img{
  /* border: 2px solid black; */
  margin: -120px 170px;
  height: 100px;
  padding: 0;
}
#id2 img{
  /* border: 2px solid black; */
  margin: -120px 170px;
  height: 100px;
  padding: 0;
}
#id3 img{
  /* border: 2px solid black; */
  margin: -120px 170px;
  height: 100px;
  padding: 0;
}

.main3 ul li:hover{
  background-color: rgb(208, 208, 208);
}

.footer{
  background-color: rgb(19, 41, 71);
  color: white; 

}
.footer p{
  display: block;
  padding: 30px 0px;
  text-align: center; 
}
